<div id="footer">
    <p>Otro servicio de <a href="http://www.tecnosoluciones.com/content/81/Nuestra-experiencia-en-Desarrollo-Web-es-una-Garantia" target="_blank" title="TecnoSoluciones.com ... Su Solución de Negocios en Internet">TecnoSoluciones.com</a>.</p>
</div>
</div>
</body>
</html>