{% include 'header.twig' %}
<div id="login-content">
    <div class="panel panel-default resetpassContainer">
        <div class="panel-body">
            <form class="form-horizontal">
                <input type="hidden" name="token" value="{{ token|raw }}"/>

                <h1 class="page-header"><i class="icon fa fa-refresh"></i> Restablecer Contrase&ntilde;a</h1>

                {{ msg|raw }}

                {% if show_form %}
                    <p>Para restaurar sus datos deberá contestar la siguiente pregunta de seguridad:</p>

                    <div class="form-group">
                        <label for="pregunta_seguridad" class="col-sm-5 control-label">Pregunta de Seguridad</label>

                        <div class="col-sm-7">
                            <p class="form-control-static">{{ security_info.pregunta_seguridad }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="respuesta_seguridad" class="col-sm-5 control-label">Respuesta de Seguridad</label>

                        <div class="col-sm-7">
                            <input type="text" name="respuesta_seguridad" class="form-control" value=""
                                   id="respuesta_seguridad"/>
                        </div>
                    </div>
                    <br/>

                    <div class="form-group">
                        <label for="user_pass" class="col-sm-5 control-label">Nueva Contraseña</label>

                        <div class="col-sm-7">
                            <input type="password" name="user_pass" class="form-control" id="user_pass"
                                   autocomplete="off"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="user_re_pass" class="col-sm-5 control-label">Repita Contraseña</label>

                        <div class="col-sm-7">
                            <input type="password" name="user_re_pass" class="form-control" id="user_re_pass"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" name="act-reset-password-final"
                                   class="btn btn-default btn-block" id="act-reset-password-final"><i class="glyphicon glyphicon-refresh"></i> Restablecer Contrase&ntilde;a</button>
                        </div>
                    </div>

                {% endif %}

                <a href="{{ site_url }}login.php"><i class="icon fa fa-arrow-left"></i> Regresar al Inicio de Sesi&oacute;n</a>

            </form>
        </div>

    </div>

    {% include 'footer.twig' %}
</div>