<div class="form-group">

    <div class="col-sm-4">
        <label for="nivel_estatico_prueba_bombeo" class="control-label">Nivel Estático (m)</label>
        <input type="text" name="nivel_estatico_prueba_bombeo" class="form-control" value="{{ prueba_bombeo.nivel_estatico_prueba_bombeo }}"
               id="nivel_estatico_prueba_bombeo"/>
    </div>

    <div class="col-sm-4">
        <label for="nivel_prueba_bombeo" class="control-label">Nivel de Bombeo (m)</label>
        <input type="text" name="nivel_prueba_bombeo" class="form-control" value="{{ prueba_bombeo.nivel_prueba_bombeo }}" id="nivel_prueba_bombeo"/>
    </div>

    <div class="col-sm-4">
        <label for="caudal_prueba_bombeo" class="control-label">Caudal Prueba Bombeo (l/s)</label>
        <input type="text" name="caudal_prueba_bombeo" class="form-control" value="{{ prueba_bombeo.caudal_prueba_bombeo }}" id="caudal_prueba_bombeo"/>
    </div>

</div>
